/*RESET START*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    color: #111;
    background: #fff;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
/*General reset*/
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img{
    max-width: 100%;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
input, select, textarea{
    outline:none;
    border:none;
}
textarea{
    resize:vertical
}
button{
    cursor:pointer;
}
label{
    margin-bottom: 0;
}
/*RESET END*/
/*DEFAULT CLASSES START*/
.flex-container{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.btn-radius{
    border-radius: 20px;
}
.btn-default{
    background-color: #ff5912;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/

.custom-icon{
    display: inline-block;
}
.icon-like-ic:hover{
    background-position: -19px -59px;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.subtitle{
    display: block;
    font-size: 16px;
    font-family: 'Harmonia_regular';
    margin-bottom: 70px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}

.checkbox-group input[type="checkbox"]{
    display: none;
}
.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked + label{
    color: #ff5912;
}
.checkbox-group + .checkbox-group{
    margin-top: 35px;
}
.item{
    background-color: #fff;
    padding: 30px 10px;
    transition: all .2s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.item .item-img{
    transition: all 0.3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item-description{
    padding: 0 40px;
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: 'Harmonia_bold';
    color: #34404b;
    margin-bottom: 30px;
}
.item:hover .item-title{
    color: #ff5912;
}
.item .item-price{
    font-size: 18px;
    font-family: 'Harmonia_bold';
    color: #ff5912;
}

.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}

.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.item:hover .item-price{
    opacity: 0;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform:  translateX(-50%);
    transition: all 0.3s linear;
    width: 100%;
    padding: 0 50px;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
@media(max-width: 1199px){
    .item-description, .more-info-on-hover{
        padding: 0;
    }
}
@media(max-width: 991px){
    .item{
        margin-bottom: 30px;
    }
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.item:hover .item-img{
    height: 90px;
}
.subscribe-form{
    padding: 37px 42px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
@media(max-width: 479px){
   .subscribe-form{
       flex-wrap: wrap;
   }
    .subscribe-description{
        display: flex;
        margin-bottom: 20px;
    }
}
.header{
    position: relative;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li+li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .top-header .social-nav{
    display: flex;
    align-items: center;
}
header .top-header .social-nav a + a{
    margin-left: 20px;
}
header .bottom-header .logo{
    margin: 40px 0;
}
header .bottom-header .header-nav li{
    font-family: 'Harmonia_regular';
    display: inline-block;
    font-size: 16px;
}
header .bottom-header .header-nav li a:hover{
    color: #ff5912;
}
header .bottom-header .header-nav li + li{
    margin-left: 30px;
}
header .bottom-header .user-nav a:last-child{
    position: relative;
}
header .bottom-header .user-nav a + a{
    margin-left: 30px;
}
header .bottom-header .user-nav a:last-child::before{
    content: "5";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: -25px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
@media(max-width: 479px){
    .top-header .phones-list{
        width: 100%;
    }
    .user-nav{
        width: 100%;
        order: 1;
        justify-content: center;
        margin: 30px 0;
    }
    .top-header .flex-container{
        flex-wrap: wrap;
    }
    .top-header .social-nav{
        margin-top: 20px;
        text-align: center;
    }
    .bottom-header .flex-container{
        flex-wrap: wrap;
    }
    .bottom-header .flex-container .logo{
        margin: 20px 0 0 0;
    }

}
@media (max-width: 768px){
    header .bottom-header .header-nav{
        display: none;
    }
    .slicknav_menu{
        display: block;
    }
}

.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.item-flexslider{
    position: relative;
}
.item-flexslider {
    padding-left: calc(8.3333% + 30px);
}
.items-carousel .carousel-text span{
    font-family: 'Harmonia_black';
    display: inline-block;
    margin-bottom: 25px;
}
.items-carousel .price-wrap{
    margin-top: 30px;
}
.items-carousel .price-wrap a{
    margin-left: 20px;
}
.items-carousel .price-wrap a span{
    margin-left: 10px;
}
@media(max-width: 479){
    .items-carousel-description .title{
        font-size: 20px;
    }
}
.default-section .load-more{
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.default-section .load-more .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff5912;
}

.text-area{
    padding: 29px 0;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.text-area span + span{
    margin-top: 10px;
}
.title-sale{
    padding: 120px 0 80px 0;
}
.best-sales .title-sale{
    text-align: center;
}
.best-sales .title-sale span{
    display: inline-block;
}
.best-sale-list .item-mini{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    position: relative;
}
.best-sale-list .item-mini-title{
    font-size: 18px;
    font-family: Harmonia_regular;
    white-space: nowrap;
    overflow: inherit;
    text-overflow: ellipsis;
}
.best-sale-list .item-mini:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.best-sale-list .item-mini .item-rating{
    display: flex;

}
.best-sale-list .item-mini .price-wrap{
    opacity: 0;
    position: absolute;
    bottom: 48px;
    right: 48px;
}
.best-sale-list .item-mini .price-wrap .orange-text{
    margin-left: 5px;
}
.best-sale-list .item-mini:hover .price-wrap{
    opacity: 1;
    transition: all .3s linear;
}
.best-sale-list .item-mini-on-hover{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}
.best-sale-list .item-mini:hover .item-mini-on-hover{
    opacity: 0;
    transition: all .3s linear;
}
.best-sale-list .item-mini .item-rating{
    color: #ff5912;
}
@media(max-width: 991px){
    .item-mini .item-mini-description .price-wrap{
        bottom: 0;
        right: 0;
    }
}
/*DEFAULT COMPONENT END*/

/*ALL STYLES START*/
.kit{
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kit .add-to-cart span:last-child{
    font-family: 'Harmonia_bold';
    font-size: 30px;
}
.sales-block{
    position: relative;
}
.title-season span{
    font-size: 22px;
    font-family: Harmonia_regular;
}
.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child{
    transform: rotate(45deg);
}
.sales-block div:last-child{
    transform: rotate(-45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.title-sales{
    color: #fff;
    position: absolute;
    left: 13%;
}

@media(max-width: 479px){
    .kit{
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .kit div + div{
        margin-bottom: 20px;
    }
    .kit .sales-block{
        margin-right: 20px;
    }
    .kit .title-season{
        text-align: center;
    }
    .kit .title-season span{
        display: inline-block;
        margin-bottom: 20px;
    }
    .kit .title-sales{
        left: 46%;
        top: 15%;
    }
}
@media(max-width: 576px){
    .kit{
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;

    }
    .kit .sales-block{
        margin: 30px 30px;
    }
    .kit .title-sales{
        left: 19%;
        top: 28%;
    }
    .kit .add-to-cart{
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 992px){
    .kit{
        margin-bottom: 30px;
    }
    .kit .title-sale{
        left: 10%;
    }
}
.title-sales span{
    display: block;
}
.title-sales span:last-child{
    font-size: 18px;
}
.category-wrap{
    padding-top: 120px;
}
.aside-section{
    padding: 40px 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: Harmonia_black;
    font-size: 17px;
    color: #ff5912;
    margin-bottom: 35px;
}
.category-wrap .item{
    margin-bottom: 30px;
}
.footer-wrap{
    padding: 90px 0;
}
.footer-wrap .logo{
    display: flex;
    flex-direction: column;
}
.footer-wrap .logo a{
    margin-bottom: 20px;
}
.footer-wrap .about-us li a{
    font-size: 14px;
    font-family: Harmonia_regular;
}
.footer-wrap .about-us a:hover{
    color: #ff5912;
}
.footer-wrap .about-us li{
    margin-bottom: 15px;
    font-size: 14px;
    font-family: Harmonia_regular;
}
.footer-wrap .about-us ul + ul{
    margin-left: 115px;
    display: list-item;
    list-style-type: disc;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer-nav .orange-text{
    font-size: 16px;
    font-family: 'Harmonia_semibold';
}
.footer-nav .payments a + a{
    margin-left: 10px;
}
@media(max-width: 479px){
    .footer-nav .logo{
        margin-bottom: 20px;
    }
    .footer-nav .logo a{
        text-align: center;
    }
    .footer-nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-nav .about-us ul + ul{
        margin-left: 50px;
    }
    .footer .footer-nav .payments{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width: 768px){
    .footer-nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-nav .about-us{
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
    }
}
@media(max-width: 992px){
    .footer-wrap{
        padding: 50px 0;
    }
    .footer-nav .about-us ul + ul{
        margin-left: 35px;
    }
    .footer-nav .logo a{
        text-align: center;
    }
}

.range{
    margin-top: 40px;
}
.min-value, .max-value{
    position: absolute;
    top: -150%;
    font-size: 14px;
    color: #34404b;
    font-family: Harmonia_semibold;
    transform: translateX(-50%);
    left: 50%;
}
#slider-range{
    height: 3px;
    background-color: #edf0f2;
}
.range-input-reoup{
    margin-top: 35px;
}
.ui-slider-handle{
    border-radius: 50%;
    transform: translateY(-25%);
    background-color: #000;
}
.range span.ui-slider-handle{
    background-color: #000;
}
.range .range-input-reoup input{
    width: 45px;
    height: 25px;
    background-color: #edf0f2;
}
.add-range-value .range-input-reoup:first-child input{
    margin-right: 20px;
}
.range .range-input-reoup label{
    margin-right: 14px;
}
.ui-widget.ui-widget-content{
    border: none;
}
.ui-widget-header{
    background-color: #000;
}
.product-carousel{
    width: 330px;
}
.product-wrap{
    padding: 100px 0 125px 0;
}
.size-radio input[type="radio"]{
    display: none;

}
.size-radio label{
    font-size: 14px;
    font-family: Harmonia_semibold;
    color: #34404b;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked +label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 20px;
}
.choose-size span{
    margin-right: 40px;
}
.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.product-price{
    margin-right: auto;
}

/*ALL STYLES END*/

